/* custom warna */
.bg-kopi {background-color: #4b2e2e;}
.text-kopi {color: #4b2e2e;}
.bg-krem {background-color: #f5e6d3;}
.text-krem {color: #f5e6d3;}
.bg-emas {background-color: #cfaf7b;}
.text-emas {color: #cfaf7b;}